body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa9df6+0,97c3e5+50,ffffff+100 */
background: #aa9df6; /* Old browsers */
background: -moz-linear-gradient(top,  #aa9df6 0%, #97c3e5 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #aa9df6 0%,#97c3e5 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #aa9df6 0%,#97c3e5 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa9df6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
background repeat: no-repeat;

}
