#main_page_background{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa9df6+0,97c3e5+50,ffffff+100 */
background: rgb(170,157,246) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgb(170,157,246) 0%, rgb(151,195,229) 50%, rgb(255,255,255) 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(170,157,246) 0%,rgb(151,195,229) 50%,rgb(255,255,255) 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(170,157,246) 0%,rgb(151,195,229) 50%,rgb(255,255,255) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa9df6', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */

	
}


body {
    background-image: url("../image/main_background.png");
    
    background: rgb(170,157,246) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgb(170,157,246) 0%, rgb(151,195,229) 50%, rgb(255,255,255) 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(170,157,246) 0%,rgb(151,195,229) 50%,rgb(255,255,255) 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(170,157,246) 0%,rgb(151,195,229) 50%,rgb(255,255,255) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa9df6', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
}



.card-back{
	margin: .3%;
}

.card{
	position: relative;
	float: left;
	padding-bottom: 35%;
	width: 25%;
	text-align: center;
}

.card_front, 
.card_back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.card_front, 
.card_back{
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
}

.card_front{
	background-size: contain;
	background-image: url("card_back.png");
	background-repeat: no-repeat;
	
}

.card_back{
	background-size: contain;
	background-image: url("card_front.png");
	background-repeat: no-repeat;
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_front{
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_back{
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
}

h2{
	margin-top: 10%;
}
