body{
  background: #edf1ff url(../image/dot_line.png) no-repeat  fixed center center;
  overflow:hidden;
 
}


#day{
  font-family: 'Jeju Gothic'; 
  color:#0a0073;
  text-shadow: 1px 1px 2px #a3a3a3;
  font-size: 18pt;
  line-height:1.6em;
}

.choose_each_main_title{
  font-family: 'Jeju Gothic'; 
  color:#0a0073;
  text-shadow: 1px 1px 2px #a3a3a3;
  font-size: 18pt;
  line-height:1.4em;
}

.choose_each_sub_title{
  font-family: 'Noto Sans', sans-serif;
  color:#353c57;
  font-size:;
	line-height:1.6em;
	margin-bottom: 30px;
	font-size: 13pt;
}

#result_title{
  font-family: 'Jeju Gothic'; 
  color:#ffffff;
  text-shadow: 1px 1px 2px #a3a3a3;
  font-size: 18pt;
  margin-bottom: 20px;	
}

#score{
	font-family: 'Noto Sans', sans-serif;
	 color:#ffffff;
	 font-size:13pt;
	line-height:1.2em;
	margin-top:20px;
	margin-bottom: 10px;
	
}

.intro-section{
  padding-top: 200px !important;
  background: #edf1ff url(../image/choose_background.png) no-repeat fixed center center;
  background-size: contain;
}

.about-section{

  padding-top: 200px !important;
  background: #edf1ff url(../image/choose_background.png) no-repeat fixed center center;
  background-size: contain;
}

.services-section{

  padding-top: 200px !important;
  background: #edf1ff url(../image/choose_background.png) no-repeat fixed center center;
  background-size: contain;
}

.contact-section{
	
	padding-top: 200px !important;
	background: #0a0073 url(../image/choose_background.png)  no-repeat  fixed center center;
  	background-size: contain;
}
