body{
  background-color: #edf1ff;
}
  .dot_line {
   position:absolute;
  top:0px;
  height:125vh;
  left:5%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform : translateX(-50%);
    
 
}

  .dot_line2 {
  position:absolute;
  top:0px;
  height:125vh;
  left:95%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform : translateX(-50%);
}


.intro-section{
  background: url(../image/choose_background.png) no-repeat fixed center center;
  
}


.choose_background{
  background-repeat : no-repeat; 
  background-attachment : fixed; 
  background-position : 50% 50%; 
}

