@font-face {
  font-family: 'Jeju Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf) format('truetype');
}

@font-face{
font-family:hansans;
src:url('/webfont/SourceHanSans-Regular.eot');
src:local(※),
url('/webfont/SourceHanSans-Regular.woff') format('woff');
}

body{
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background: url('./images/background.png');
    text-align: left;
    margin: auto;
}

#page-top1{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
   	background-image: url("../image/main_background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative; 
	
   background-color:#b3d2ff;
}



/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {
  /* 480px 이상 */
  #page-top1{
 
  }
  
  #main_title{
  	font-size:30pt;
  	
  }

}
@media only screen and (min-width: 600px) {
  /* 600px 이상 */
 #page-top1{

  }
  #main_title{
  	font-size:40pt;
  	
  }  

}
@media only screen and (min-width: 768px) {
  /* 768px 이상 */
   #page-top1{

  }
  #main_title{
  	font-size:50pt;
  	padding-top:30px;
  	
  } 
  
      #sub_title{	
    	font-size: 10pt;
      }
}
@media only screen and (min-width: 992px) {
  /* 992px 이상 */
   #page-top1{
   
   }
    #main_title{
  	font-size:50pt;
  	padding-top:40px;
  	
  	}
    #sub_title{	
    	font-size: 12pt;
    	padding-top:5px;
    	
    }
}
@media only screen and (min-width: 1382px) {
  /* 1382px 이상 */
   #main_title{
  	font-size:70pt;
  	padding-top:60px;
  	
  }  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* iPhone4+ 레티나 디스플레이 */
}


#main_title{
	font-family: 'Jeju Gothic';
	text-shadow: 1px 1px 2px #757575;
	color:#0a0073;
}

#sub_title{
	font-family: 'Noto Sans', sans-serif; 
	color:#353c57;
	line-height:1.6em;
	margin-bottom: 30px;
}

#start_button{
	
	font-family: 'Noto Sans', sans-serif; 
	font-weight: bold !important;
	font-size: 13px !important;
	color:#FFF;
	position:relative;
	
	text-decoration:none;
	margin:0 auto;
	border-radius:7px;
	border:solid 1px #1639be;
	background:#00219c;
	text-align:center;
	width: 150px;
	padding:10px 5px !important;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 6px 0px #0a0073;
        -moz-box-shadow: 0px 6px 0px #0a0073;
        box-shadow: 0px 6px 0px #0a0073;
}

#start_button:active{
	-webkit-box-shadow: 0px 2px 0px #0a0073;
        -moz-box-shadow: 0px 2px 0px #0a0073;
        box-shadow: 0px 2px 0px #0a0073;
        position:relative;
        top: 5px;
}

#result_button{
	
	
	font-family: 'Noto Sans', sans-serif; 
	font-weight: bold !important;
	font-size: 13px !important;
	color:#FFF;
	position:relative;
	
	text-decoration:none;
	margin:0 auto;
	border-radius:7px;
	
	border:solid 1px #dad2ff;
	background:#b2a1ff;
	
	text-align:center;
	width: 120px;
	padding:10px 5px !important;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 6px 0px #4b38a0;
        -moz-box-shadow: 0px 6px 0px #4b38a0;
        box-shadow: 0px 6px 0px #4b38a0;
}

#result_button:active{
	-webkit-box-shadow: 0px 2px 0px #4b38a0;
        -moz-box-shadow: 0px 2px 0px #4b38a0;
        box-shadow: 0px 2px 0px #4b38a0;
        position:relative;
        top: 5px;
}
.card{
	position: relative;
	float: left;
	padding-bottom: 35%;
	width: 25%;
}

.card_front, 
.card_back,
.situation_result,
.content_result,
.weekday,
.season,
.temprature{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
    background-repeat: no-repeat;
}
.card_front, 
.card_back{
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
}

.card_front{
	background-image: url("card_back.png");
}

.card_back{
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_front{
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
}

.card.effect_click.flipped .card_back{
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
}

.day{
	width: 100%;
	font-size: 2em;
}

h2{
	margin-top: 10%;
}
